
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap');


html{
    background-image: url(images/bg.jpg)
}

body {
    font-family: 'Poppins', sans-serif;
    color: #843614;
  }

  header {
    display: flex;
    height: 90px;
    justify-content:center;
    align-items: center;
    padding: 0 200px;
  }

  header nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 600;
    gap: 30px;
  }

  header a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #a55e3f;
    padding: 0 3px;
  }

  a:active {
    color: black;
  }

  a:hover {
    color: #843614;
  }

  .subscribe {
      border: 4px solid #ad4c31;
      border-radius: 18px;
      padding: 4px 40px;
      margin: 0 auto;
  }

  .Sb{
      text-transform: none;
      font-weight: 600;
      font-size:14px;
  }

#Hero{
  min-height: 850px;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding:0 100px;
  gap: 34px;
}

#heroImage{
    border-radius: 18px;
}

#Hero{
    position: relative;
}

#Hero h6 {
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    font-size: 60px;
    color: #a55e3f;
    text-align: center;
    padding: 0 10px 400px 400px;
  }

  #Hero p {
    position: absolute;
    color: white;
    font-size: 18px;
    text-align: justify;
    padding: 220px 10px 400px 400px;

  }

  #Hero a {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border: 4px solid #ffffff;
    border-radius: 18px;
    padding: 8px 40px;
    margin: 380px 10px 400px 400px;
}

#second {
    background-image: url(images/brownbg.webp);
    height: 50VH;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
  }

  #second h5 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    color: white;
    letter-spacing: 8px;
  }

  #second p {
    color: white;
    font-size: 14px;
    width: 800px;
    text-align: center;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 20px;
  }

  #second a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border: 4px solid #ffffff;
    border-radius: 18px;
    padding: 8px 40px;
  }

h6{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;
    color: #843614;
    text-align: center;
    letter-spacing: 8px;
    padding-top: 50px;
}

 section#third {
  background-position: center;
  background-color: #ffffff59;
  margin:0 210px;
 }

section#third #text3{

    height: 600px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding:0 50px;
    gap: 50px;
    }


  #third h5{
    text-transform: uppercase;
    color: #bc5d35;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-align:right;
    margin-bottom: 20px;
    }

 #third p{
    color: #303030;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align:right;
    margin-bottom: 20px;
    }

  #text2 a{
    text-decoration: none;
    text-transform: uppercase;
    color:#bc5d35 ;
    font-size: 12px;
    font-weight: 600;
    border: 4px solid #bc5d35;
    border-radius: 18px;
    padding: 8px 40px;
    position: 40px 100px;
    margin: 0 0 0 280px;

  }

  #third #vid1{
    border-radius: 18px;
    height: 400px;
  }


  #fourth {
    background-position: center;
    background-color: #ffffff59;
    margin:0 210px;
   }
  Section#fourth #text6{
    height:400px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding:0 50px;
    gap: 50px;
  }

  #fourth img{
    border-radius: 18px;
  }
  #fourth h6{
    padding-top:100px;
    font-weight: 600;
  }

  #text5 h5{
    text-transform: uppercase;
    color: #bc5d35;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-align:left;
    margin-bottom: 20px;
  }

  #text5 p{
    color: #303030;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align:left;
    margin-bottom: 20px;
  }

  #text5 a{
    text-decoration: none;
    text-transform: uppercase;
    color:#bc5d35 ;
    font-size: 12px;
    font-weight: 600;
    border: 4px solid #bc5d35;
    border-radius: 18px;
    padding: 8px 40px;
    margin-top: 20px;
  }

  Section#fourth #text8{
    height:600px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding:0 50px;
    gap: 50px;
  }



  #text7 p{
    color: #303030;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    max-width: 300px;
    text-rendering:inherit;
    text-align:left;
    margin-bottom: 20px;
  }

  #text7 h5{
    text-transform: uppercase;
    color: #bc5d35;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-align:left;
    margin-bottom: 20px;
  }

  #text7 a{
    text-decoration: none;
    text-transform: uppercase;
    color:#bc5d35 ;
    font-size: 12px;
    font-weight: 600;
    border: 4px solid #bc5d35;
    border-radius: 18px;
    padding: 8px 40px;
    margin-top: 20px;
  }

  #vid2{
    width: 980px;
    height: 417px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin:0px 0px 30px calc((100% - 980px) * 0.5);

  }


  h10{

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;
    color: #843614;
    text-align: center;
    font-style: italic;
    padding:20px 50px;
    }

  .gallery-container {
    display: flex;
    justify-content: center;
  }

  .gallery {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  /* styling the images */
  .gallery > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  #line{
    display: flex;
    border-bottom: 2px solid #843614;
    justify-content:center;
    align-items:center;
    margin: 40px 0;
  }

  #seven {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    background-color: #fff;
    gap: 20px;
  }

  #seven #text h5{
    text-transform: uppercase;
    color: #bc5d35;
    font-size: 35px;
    line-height: 30px;
    font-weight: 600;
    text-align:center;
    margin:40px 30px;
  }

  #seven #text p{
    color: #303030;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    max-width: 300px;
    text-rendering:inherit;
    text-align:justify;
    padding:40px 20px;
  }


  #footer{
    height:100px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding:0 400px;
    gap: 20px;
  }

  #footer  #lnks {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
  }

  #footer  #cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: ;
    margin-right: 100px;
  }

  #cont #ins{
    height:50px;
    width: 50px;
    margin-top: 30px;
  }

  #footer  #lern{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: 100px;
  }

  #footer h2{
    text-decoration: none;
    text-transform: uppercase;
    color:#bc5d35 ;
    font-size: 15px;
    font-weight: 600;
    padding-top: 50px;
    margin: 30px auto;
  }

#footer p {
  font-size: 12px;
  padding-bottom: 20px;
}

#footer a:hover {
  color: #843614;
}


/*------gallery------*/

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
}
.flex-gallery_item {
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 33.3%;
  max-width: 66.6%;
  height: 250px;
  padding: 4px;
}
.flex-gallery_item:nth-child(6n + 5) {
  min-width: 66.6%;
  }
.flex-gallery_item img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}


* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}



/*------gallery------*/

  #footer a{
    text-decoration: none;
    text-transform: uppercase;
    color:#282828 ;
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
  }

  #lern #download{
      border: 4px solid #ad4c31;
      border-radius: 18px;
      color:#843614;
      padding: 4px 40px;
      font-weight: 600;
      margin: 20px auto;
      font-size: 15px;
  }

  #copyright{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top:  150px;
    margin-bottom: 50px;
  }
